body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.layout {
    display: flex;
    min-width: 100vh;
}

.layout-left {
    width: 60%;
    padding: 70px 130px;

}

.layout-right {
    flex-shrink: 0;
    width: 40%;
    background: url(./assets/bg.png);
    background-size: cover;
}

.brand {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: #0A1B59;
    line-height: 32px;
    margin-bottom: 156px;
}

.badge {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: rgba(17, 63, 266, 0.1);
    padding: 5px 15px;
    border-radius: 100px;
    color: #113FE2;
}

.heading {
    margin-top: 20px;
    font-size: 44px;
    color: #0A1B59;
    font-weight: 700;
    width: 80%;
}

.lead {
    font-size: 16px;
    line-height: 32px;
    color: rgba(10, 27, 89, 0.6);
    width: 80%;

}

.invite-form {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.invite-form input {
    width: 100%;
    color: rgba(10, 27, 89, 0.2) ;
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid;
}

.invite-form button {
    background: #113FE2;
    color: #fff;
    border-radius: 8px;
    padding: 10px 30px;
    border: none;
    font-size: 16px;
    line-height: 32px;
    flex-shrink: 0;
}

.p {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: rgba(10, 27, 89, 0.6);
}